<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily missions</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <main>
            <h1>Today's missions</h1>
            <!-- <ul>
                <% todos.forEach( el=> { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
            <% }) %>
        </ul>
        
        <h2>
            <%= user.userName %> has <%= left %> things left to do.
        </h2>
    -->
    <a href="/welcome"> Current Homepage</a> <!-- go to welcome page -->
    <a href="/create"> Create mission</a> <!-- go to task creating page -->
    <a href="/logout" class="btn-secondary">Logout</a>
    
    <script src="js/main.js"></script>
    
        </main>
    </div>
</body>

</html>